<br>
<br>
<h2>Hasan Mesut Alkan Özgeçmiş</h2>
<br />
<img src="https://avatars2.githubusercontent.com/u/41513597?s=460&v=4" alt="cini HMA">
<br />
<br />
<b> Eğitim Bilgileri </b>
<table>
    <tr>
        <td width="150">Eğitim</td>
        <td width="300">Okul Adı</td>
        <td>Derecesi</td>
    </tr>
    <tr>
        <td><i>Lisans</i></td>
        <td><i>Süleyman Demirel Üniversitesi</i></td>
        <td><i>2.4</i></td>
    </tr>
    <tr>
        <td><i>Lise</i></td>
        <td><i>Fethiye Kemal Mumcu A.L.</i></td>
        <td><i>4.1</i></td>
    </tr>
</table>
<hr />

